<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'helloAndroidUtil/bootstrap.css' %}">
</head>
<body>
<div class="container">
    <div class="jumbotorn">
        {% if chapter %}
        <h1 class="text-center">第{{ chapter.chapter_lsno }}章 {{ chapter.chapter_name }}
        </h1>
        <div>
            <small class="text-right"><a href="/androidUtil/chapter/">返回章节列表</a></small>
        </div>
        <p>{{ chapter.chapter_descripe }}</p>
        {% endif %}
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <p class="bold bg-primary">包含如下的类：</p>
        </div>
        <div class="panel-body">
            <ol class="list-group">
                {% if chapter_item_list %}
                {% for chapter_item in chapter_item_list %}
                <li class="list-group-item list-group-item-success">
                    <a class="" href="/androidUtil/chapter/{{ chapter.chapter_lsno }}/{{ chapter_item.id }}">
                        {{ chapter_item.item_lsno }}{{ chapter_item.item_name }}</a>
                    <p> {{ chapter_item.item_descripe }} </p>
                </li>
                {% endfor %}
                {% endif %}
            </ol>
        </div>
    </div>

</div>
</body>
</html>