<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'helloAndroidUtil/bootstrap.css' %}"/>
</head>
<body>
<div class=" container bg-success">
    <div>
        <h1>AndroidUtil<small><a href="/androidUtil/"> Home </a></small></h1>
    </div>
    {% if chapters_list %}
    <ul class="">
        {% for chapter in chapters_list %}
        <li>
            <a class="" href="/androidUtil/chapter/{{ chapter.chapter_lsno }}"><h1> 第 <strong>
                {{ chapter.chapter_lsno }}</strong> 章 {{ chapter.chapter_name }}</h1></a>
            <p class="">{{ chapter.chapter_descripe }}</p>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
</body>
</html>